<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583551084331-bm9bt1ps51q7npuqg5tub1eh0t9d7gc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583551084331-bm9bt1ps51q7npuqg5tub1eh0t9d7gc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBXazbRWEekbgVIkuFWu9HSBNG22a8SVRE</string>
	<key>GCM_SENDER_ID</key>
	<string>583551084331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anna.violin.LoginFireb</string>
	<key>PROJECT_ID</key>
	<string>loginfireb-9c1a4</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfireb-9c1a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583551084331:ios:cca4ba5e601c62fd7ac76e</string>
</dict>
</plist>